mat-button-toggle-group {
  margin-top: 10px;
}

mat-button-toggle {
  width: 200px;
}

button {
  width: 50%;
}

mat-form-field {
  width: 100%;
}

.dialogWrapper {
  width: 100%;
  text-align: center;
}
